// .cards-summaries {
//   display:flex;
//   border-radius: 5px;
//   width: auto;
//   margin-top:30px;
//   margin-bottom: 30px;
//   // padding-top: 50px;

// }


.main-container {
  display:flex;
  justify-content:center;
}

h1 {
  text-align:center;

}

h2 {
  margin-top:10px;
}


.my-bookings {
  margin-top:20px;
}

.total-box {
  font-family: 'Stylish', sans-serif;
  // position:relative;
}

// .btn {
//   background-color: #FF7E66 !important;
//   width: 500px;
//   // margin-left: 40px;
//   font-family: 'Stylish', sans-serif !important;
//   position:absolute;
//   display:inline-block;
//   bottom:0;
//   border-top-left-radius:0px !important;
//   border-top-right-radius:0px !important;
//   // margin-bottom:20px !important;
//   height:70px;
//   font-size:30px !important;
// }



.total-cashback-box {
  // padding-top:20px;
 // margin-top: 40px;
 margin: left;
 width: 50vw;
 height: 200px;
 display:flex;
 justify-content:space-around;
 align-items:center;
 text-align: center;
 border-radius: 5px;
 vertical-align: middle;
 font-family: 'Stylish', sans-serif;
 font-size: 40px;
 box-shadow: 0 0 20px rgba(0,0,0,0.2);
 // flex:wrap;
 // padding-bottom:50px;
}




   // .mapboxgl-canvas {
   // padding-right: 0px;
   // margin-top:5px;
   // // width:900px;
   // }






   #map-container3 {
    // height:100vh;
    // position:fixed;
    // width:660px;
    // display:flex;
    // top:135px;
    // position:fixed;
    // padding-left:35px;
    // bottom:0px;
    // margin-left:705px;
    // right:20px;
    // border-radius:5px;



   }

// table, th, td {
// }

table {
  width: 50vw;
  margin-top: 20px;
  margin-bottom: 40px;
  border-radius: 5px;
  overflow: hidden;
  color: rgba(100,100,100,1);
  font-size: 14px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  font-family:'Roboto Slab', serif;

}

td {
  height: 20px;
  vertical-align: bottom;
}

.table-container {
   margin: auto;
}

th, td {
  padding: 15px;
  text-align: left;
}

.dashboard-left-side-container {
  margin-left: 20px;
  margin-bottom: 200px;
  margin-right: 6vw;
}

.table-headers {
  background-color: #07689f;
  color: #fff;
  font-family: 'Stylish', sans-serif;
  font-size: 20px;
}

.even {
  background-color: rgba(7, 104, 159, 0.1);
}
