<div class="footer">
  <div class="footer-copyright">
    <div class="writing">
    FAQ | BLOG | CONTACT US | HOSTEL OWNERS
    </div>
  </div>
    <div class="icons">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
    <p class="p-foot">.</p>
</div>

