<div class= "navbar-elsa-brand">

    <%= link_to image_tag('elephant.svg', alt: "Elsa logo"), root_path %>


    <li class="nav-item-dropdown">
           <% if user_signed_in? %>
            <div class="dropdown">
              <img src='ELSA-v3.0/app/assets/images/profile.png' class="avatar"/>
              <div class="submenu" style="display: none; ">
            <ul class="root">
              <li >
               <%= link_to "Profile", user_dashboard_path %>
              </li>
              <li >
               <%#= link_to "My Bookings", bookings_show_path %>
              </li>
              <li>
               <%= link_to "Sign Out", root_path %>
              </li>
            </ul>
              </div>
           <% else %>
            <div class="button-navbar">
             <%= link_to "Sign In", new_user_session_path, class: "nav-link" %>
            </div>
           <% end %>
    </li>
</div>

