<div class="banner">
  <div class="banner-content">
    <h1>Book Hostels for Instant Cashback</h1>
    <p>Elsa let's you save more by paying less</p>
    <%= link_to "Search", hostels_path, class: "btn-blue" %>
  </div>
</div>

