<div class="background">
  <%= video_tag "travel_copy.mp4", autoplay: :autoplay, loop: :loop, muted: true, class: "video" %>
  <div class="banner-content">
    <div class="container-home">
      <div class="center-row">
        <div class="form-card">
          <h1>Book Hostels for Instant Cashback</h1>
            <p>Travel more. Travel Longer. Continue to Wander</p>
            <form action="/hostels" method='get'>
              <div class="form-row">
                <div class="city">
                  <input type="text" class="form-control border-radius input-lg" placeholder="City" name="city" id="city_name" >
                  <!-- the 'name="city"'' is for the search functionality -->
                 </div>
                <div class="col">
                  <input type="text" id="booking_start_at" class="form-control border-radius input-lg datepicker" placeholder="Check-in" name="checkin">
                </div>
                <div class="col">
                  <input type="text" id="booking_end_at" class="form-control border-radius input-lg datepicker" placeholder="Check-out" name="checkout">
                </div>
              </div>
              <div placeholder="Number of Guests" class="guest">
                <select name="bed_number" id="beds-count" class="form-control border-radius input-lg"
                placeholder="Number of Guests">
                  <option value="" disabled selected hidden>Number of Guests</option>
                  <option value="1">1 guest</option>
                  <option value="2">2 guests</option>
                  <option value="3">3 guests</option>
                  <option value="4">4 guests</option>
                  <option value="5">5 guests</option>
                  <option value="6">6 guests</option>
                  <option value="7">7 guests</option>
                  <option value="8">8 guests</option>
                </select>
              </div>
              <div class="room-type">
                <select name="room_type" id="room-types" class="form-control border-radius input-lg" placeholder="Room Type">
                  <option value="" disabled selected hidden>Room Type</option>
                  <option value="10 bed">10 bed</option>
                  <option value="8 bed">8 bed</option>
                  <option value="6 bed">6 bed</option>
                  <option value="4 bed">4 bed</option>
                  <option value="Private">private</option>
                </select>
              </div>
              <div class="text-center">
                <input type='submit' class="btn-blue search-home" value="Search"></input>
              </div>
            </form>
        </div>
      </div>
    </div>
  </div>
