<div class="background">
  <%= video_tag "travel_copy.mp4",controls: true, autoplay: :autoplay, loop: :loop, muted: true, class: "video" %>
  <div class="banner-content">
    <div class="container-home">
      <div class="center-row">
        <div class="form-card">
          <h1>Book Hostels for Instant Cashback</h1>
            <p>Travel more. Travel Longer. Continue to Wonder</p>
            <form action="/hostels" method='get'>
              <div class="form-row">
                <div class="city">
                  <input type="text" class="form-control input-lg" placeholder="City" name="city" >
                  <!-- the 'name="city"'' is for the search functionality -->
                 </div>
                <div class="col">
                  <input type="text" id="booking_start_at" class="form-control border-radius input-lg datepicker" placeholder="Check-in" name="checkin">
                </div>
                <div class="col">
                  <input type="text" id="booking_end_at" class="form-control border-radius input-lg datepicker" placeholder="Check-out" name="checkout">
                </div>
              </div>
              <div placeholder="# of Guests" class="guest">
                <select name="bed_number" id="beds-count" class="form-control border-radius input-lg"
                placeholder="Beds">
                  <option value="1">1 beds</option>
                  <option value="2">2 beds</option>
                  <option value="3">3 beds</option>
                  <option value="4">4 beds</option>
                  <option value="5">5 beds</option>
                  <option value="6">6 beds</option>
                  <option value="7">7 beds</option>
                  <option value="8">8 beds</option>
                </select>
              </div>
              <div placeholder="room type" class="room-type">
                <select name="room_type" id="room-types" class="form-control border-radius input-lg">
                  <option value="10 bed">10 bed</option>
                  <option value="8 bed">8 bed</option>
                  <option value="6 bed">6 bed</option>
                  <option value="4 bed">4 bed</option>
                  <option value="private">private</option>
                </select>
              </div>
              <input type='submit' class="btn-blue" value="Search"></input>
             </form>
        </div>
      </div>
    </div>
  </div>
