<h1>Welcome to your dashboard!</h1>

<div class="total-box">
  <div class="total-cashback-box" style="background-color: #a2d5f2">
   Total Cashback
   <br>
   £<%= @total_cashback %>
  <!-- <button type="button" class="btn btn-primary">Payment Method</button> -->
  </div>
</div>


