.btn-blue {
  background-color: #ff7e67;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 5px;
  height: 40px;
  width: 80px;
  margin: 10px auto;
  line-height: 37px;

}


.btn-blue:hover {
  background-color:#ea3919;
  text-decoration:none;
  color:white;
}

.btn-blue a {
  color: white !important;
}

.btn-blue a:hover {
  color: white !important;
  text-decoration: none;
}

.btn-blue:hover {
  opacity: 0.9;
}
