.btn-blue {
  background-color: #07689F;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 5px;
  height: 40px;
  width: 80px;
  margin-top: 10px;
}

.btn-blue a {
  color: white !important;
}

.btn-blue a:hover {
  color: white !important;
  text-decoration: none;
}

.btn-blue:hover {
  opacity: 0.9;
}
