// body {
//   height: 100vh;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   background: radial-gradient(ellipse at center, lightblue 0%,#18cefb 100%);
// }

.rating {
  font-size: 120px;
  height: 170px;
  line-height: 170px;
}

.rating1:hover:before {
   content: "☹️";
   position: absolute;
    font-size: 170px;
  margin-left: -25px;
  -webkit-transform: scale(1.2);
    -webkit-transform: rotate(30deg);
}
.rating2:hover:before {
   content: "😔";
   position: absolute;
    font-size: 150px;
  margin-left: -15px;
    -webkit-transform: rotate(15deg);
}
.rating3:hover:before {
   content: "😐";
   position: absolute;
    font-size: 140px;
  margin-left: -10px;
}
.rating4:hover:before {
   content: "🙂";
   position: absolute;
  font-size: 150px;
  margin-left: -15px;
    -webkit-transform: rotate(-15deg);
}
.rating5:hover:before {
   content: "😁";
   position: absolute;
    font-size: 170px;
  margin-left: -25px;
  -webkit-transform: rotate(-30deg);
}
