.footer {
  background: #07689F;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  color:white;
  // position:fixed;
  bottom:0px;
  width:100%
}

.p-foot {
  width:25vw;
  color:#07689F;
}

.writing {
 // padding-top: 10px;
}

.fa-facebook {
  color:white;
  // height:80px;
}

.fa-twitter {
  color:white;
  // width:50px
}

.fa-instagram {
  color:white;
  // width:50px

}

.footer-copyright{
 // display:flex;
 align-items:center;
 width:25vw;
}


.icons {
  i{
    font-size:30px;
  }
  // width:50px;
  margin-right:30px;
  // justify-content: space-around;
  align-items:center;
  // left: 50%;
  // padding-left: 650px;
  color:white;
  // display:block;
  margin-left: auto;
  margin-right:auto;
  // padding-bottom: 20px;
}


.fa-instagram:before {
  margin-right:10px;
}

.fa-twitter:before {
  margin-left:10px;
}




