.form-card {
  background: #ffffff !important;
    border-radius: 4px !important;
    padding: 32px !important;
    padding-bottom: 24px !important;
    width: 441px !important;
    box-shadow: 0 16px 40px rgba(0,0,0,0.25) !important;
    display: block;
    margin-top: 0em;
    margin-right:500px;
}

.city {
  display: table-cell !important;
  width: 97.5% !important;
  vertical-align: middle !important;
  margin: auto;
  padding-bottom: 10px;
}

.guest {
  padding-top: 10px;
}
