.navbar-elsa-brand {
  justify-content: space-between;
  background: white;
  width: 100%;
  // overflow:hidden;
  height: 85px;
  display: flex;
  align-items: center;
  background-color:transparent;
}

li {
  list-style: none;
}

img {
  margin-top: 10px;
  width:90px;
  background-color:transparent;
  margin-left: 10px;
  overflow:hidden;
  background-color: transparent;
  // margin-bottom: 10px;
}


.submenu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

}

.nav-link {
  color:white;
  font-family: 'Stylish', sans-serif;
}


.button-navbar {
// background-color: transparent;
  border: none;
  // color: white;
  padding: 0px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color:#07689f;
  margin-right: 20px;
  border-radius:5px;
  font-size:20px;
}

.button-navbar:hover {
  background-color:#034263;
  text-decoration:none;
}

.nav-link:hover {
  color:white;
}








