#first-name-form {
  display: block;
  background: rgb(220, 220, 220);
  border: none;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

#last-name-form {
  display: block;
  background: rgb(220, 220, 220);
  border: none;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

#phone-number-form {
  display: block;
  background: rgb(220, 220, 220);
  border: none;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.payment-container {
  min-height: 600px;
  max-width: 60%;
  margin: auto;
  background-color: #F4F4F4;
  padding-top: 2rem;
}

.payment-card {
  margin-left: 3rem;
  margin-top: 2rem;
}

.background-container {
  background-color: #A1D5F2;
  padding: 2rem 0;
}

.flex-container {
  background-color: #fff;
  padding: 2.5rem;
  position: absolute;
  right: -204px;
  top: -3px;
}

.card-body {
  padding: 1.25rem 0 !important;
}

.card {
  border: none;
}
