
#title-h1 {
  text-align: left;
  margin-left: 100px;
  // margin-left: 0px;
  font-family: 'Stylish', sans-serif;
  font-size: 4.0em;
}

#title-h2 {
  margin-left: 100px;
  font-family: 'Roboto Slab', serif;
}

p {
  font-family: 'Roboto Slab', serif;
}

#booking-button-div {
  text-align: center;

}

.booking-button {
  border: none;
  font-family: 'Stylish', sans-serif;
  color: white;
  padding: 0px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color:#FF7E66;

  border-radius:5px;
  font-size:20px;
}

// .table-wrapper{
//     margin: 10px 70px 70px;
//     box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
// }

// .fl-table {
//     border-radius: 5px;
//     font-size: 12px;
//     font-weight: normal;
//     border: none;
//     border-collapse: collapse;
//     width: 100%;
//     max-width: 100%;
//     white-space: nowrap;
//     background-color: white;
// }

// .fl-table td, .fl-table th {
//     text-align: center;
//     padding: 8px;
// }

// .fl-table td {
//     border-right: 1px solid #f8f8f8;
//     font-size: 12px;
// }

// .fl-table thead th {
//     color: #ffffff;
//     background: #4FC3A1;
// }


// .fl-table thead th:nth-child(odd) {
//     color: #ffffff;
//     background: #324960;
// }

// .fl-table tr:nth-child(even) {
//     background: #F8F8F8;
// }

.carousel-item {
    height: 500px;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    img {
      margin: auto;
      height: 550px;
      width: 90%;
    }
  }

h1 {
  font-family: 'Stylish', sans-serif;

}

.container {
  margin: 20px;
  border: 3px solid black;
  padding: 10px;

}

.panel-body {
  text-align: center;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
  border: 1px solid #e9ecef;
  border-radius: 5px;

  padding-top: 25px;
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 0px;

}

#centerbuttons {
  margin: auto;

}

.button {
  color: white;

}

#inputs-container {
  text-align: center;
  position:relative;

  margin-top: 20px;
  margin-right: 100px;
  margin-left: 100px;
  // width: 90%;
  border: 1px solid #e9ecef;
  border-radius: 5px;
  padding-right: 40px;
  padding-top: 20px;

}

.input-items {
  position:relative;
  margin:10px auto;
  display:inline-block;
  width: 20%;
}

#emoji-index {
  text-align: center;
  font-size: 50px;
  font-family: 'Roboto Slab', serif;

}

#map-container-show {
    height: 500px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 175px;
    margin-top: 0px;
}

