#header-container {
  margin-left: 100px;
}

.h1 {
  font-family: 'Stylish', sans-serif;
  font-size: 4.0em;
}

.h2 {
  font-family: 'Roboto Slab', serif;
}

// .table-wrapper{
//     margin: 10px 70px 70px;
//     box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
// }

// .fl-table {
//     border-radius: 5px;
//     font-size: 12px;
//     font-weight: normal;
//     border: none;
//     border-collapse: collapse;
//     width: 100%;
//     max-width: 100%;
//     white-space: nowrap;
//     background-color: white;
// }

// .fl-table td, .fl-table th {
//     text-align: center;
//     padding: 8px;
// }

// .fl-table td {
//     border-right: 1px solid #f8f8f8;
//     font-size: 12px;
// }

// .fl-table thead th {
//     color: #ffffff;
//     background: #4FC3A1;
// }


// .fl-table thead th:nth-child(odd) {
//     color: #ffffff;
//     background: #324960;
// }

// .fl-table tr:nth-child(even) {
//     background: #F8F8F8;
// }

.carousel-item {
    height: 500px;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    img {
      margin: auto;
      height: 550px;
      width: 90%;
    }
  }

h1 {
  font-family: 'Stylish', sans-serif;

}

.container {
  margin: 20px;
  border: 3px solid black;
  padding: 10px;

}

.panel-body {
  text-align: center;
  margin-top: 20px;
  // margin-right: 100px;
  // margin-left: 100px;
  width: 100%;
  background-color: #CDCDCD;
}

#centerbuttons {
  margin: auto;

}

.button {
  color: white;

}

#inputs {
  text-align: center;
  margin-top: 20px;
  margin-right: 100px;
  margin-left: 100px;
  // width: 90%;
}

#map-container2 {
    height: 500px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
}

